@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@200;300;400&display=swap');
body {
  margin: 0;
  font-family: 'Cookie', cursive;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1a1a1a;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
